*.apk
*.ap_
*.aab

*.dex

*.class

bin/
gen/
out/

.gradle/
build/
*.log

local.properties

proguard/

.idea/
*.iml
*.ipr
*.iws

.lint/

*.log

*.jks

.externalNativeBuild/
.cxx/

captures/

*.hprof

.DS_Store
*.orig
*.bak
*.swp
*~

*.git/

crashlytics-build.properties

google-services.json

analytics-debug.log

.gradle/
.gradle/caches/
.gradle/gradle.properties
.gradle/8.*/

*.DS_Store
