<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.FoodShare"
            tools:targetApi="31">

        <!-- Sign In Activity - Launcher Activity -->
        <activity
                android:name=".SignInActivity"
                android:exported="true"
                android:label="Sign In"
                android:theme="@style/Theme.FoodShare">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Sign Up Activity -->
        <activity
                android:name=".SignUpActivity"
                android:exported="true"
                android:label="Sign Up"
                android:theme="@style/Theme.FoodShare" />

        <!-- Main Activity -->
        <activity
                android:name=".MainActivity"
                android:exported="true"
                android:label="Main"
                android:theme="@style/Theme.FoodShare" />

        <!-- Add Meals Activity -->
        <activity
                android:name=".AddMealsActivity"
                android:exported="true"
                android:label="Add Meals"
                android:theme="@style/Theme.FoodShare" />

        <!-- Buy Meals Activity -->
        <activity
                android:name=".BuyMealsActivity"
                android:exported="true"
                android:label="Buy Meals"
                android:theme="@style/Theme.FoodShare" />

        <!-- Profile Activity -->
        <activity
                android:name=".ProfileActivity"
                android:exported="true"
                android:label="Profile"
                android:theme="@style/Theme.FoodShare" />

    </application>

</manifest>
